body {
  background-color: #1c1c1c;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100lvh;
}

.mainCon{
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgba(211, 194, 194, 0.432), inset 0px 0px 15px 0px rgba(241, 225, 225, 0.699);
    border-radius: 10px;
    max-width: 650px;
}


.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input, select {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #2c2c2c;
  color: #e0e0e0;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2c2c2c;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444;
}

th {
  background-color: #333;
}

tr:hover {
  background-color: #3c3c3c;
}
